<!DOCTYPE html>
<html>
<!-- show all products -->
<head>
  <title>SkinCare Rack App</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>My Rack</h1>
  <p>See items on My Rack</p>
  <button onclick="window.location.href='/'"> Home!!</button>
</body>

</html>

</body>

</html>